 <div class="social">
   <a href="https://facebook.com/coding.np"><span class="fab fa-facebook-f"></span></a>
   <a href="https://twitter.com/KrystianMaccs"><span class="fab fa-twitter"></span></a>
   <a href="https://github.com/KrystianMaccs"><span class="fab fa-github"></span></a>
   <a href="https://linkedin.com/in/KrystianMaccs"><span class="fab fa-linkedin"></span></a>
 </div>
 <div class="bottom">
   <center>
     <span class="far fa-copyright"></span><span> 2020 All rights reserved.</span>
   </center>
 </div>